<style type="text/css">
    .giohang {
        color: white;
        font-size: inherit;
        text-decoration: none;
    }
    .giohang a{
        text-decoration: none;
    }

</style>

<a href="@Url.Action("GioHang","GioHang")" class="giohang" ><i class="fa fa-shopping-cart">
        </i> (@ViewBag.TongSoLuong)</a>

