@{
    ViewBag.Title = "Thông tin liên hệ - ICTSHOP";
}

<style>
    /* CSS cho trang thông tin liên hệ */
    .contact-info {
        max-width: 600px;
        margin: 75px auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #f9f9f9;
    }

        .contact-info h3 {
            font-size: 24px;
            color: #333;
            margin-bottom: 20px;
            text-align: center;
        }

        .contact-info address {
            font-style: normal;
            line-height: 1.6;
            text-align: center;
        }

            .contact-info address strong {
                color: #333;
            }

            .contact-info address a {
                color: #007bff;
                text-decoration: none;
            }

                .contact-info address a:hover {
                    text-decoration: underline;
                }
</style>

<div class="contact-info">
    <h3>Thông tin liên hệ</h3>

    <address>
        Nguyễn Văn Duy
        <br />
        <abbr title="Phone">Điện thoại:</abbr>
        089 6211 576
    </address>

    <address>
        <strong>Email:</strong> <a href="mailto:cuongyd196@gmail.com">Duynguyen9821@gmail.com</a><br />
    </address>
</div>
